body .container2{
    max-width: 1300px;
    margin: 0 auto;
}

form{
    display: block;
}

.container2.contet-contato{
    display: flex;
    justify-content: space-evenly;
}

section.content-contato{
    margin: 16.690647482014388vh 0px;
}

.content-form-group-input{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.content-contato-text-small{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-contato-title h1{
    font-size: 66.50px;
}

.content-contato-title h1 span{
    color: #3B7B1D;
}

.group-content-contato-text h3{
    font-size: 37.24px;
}

.group-content-contato-text p {
    font-size: 22.61px;
}

form input{
    width: 448px;
    height: 40px;
    padding-left: 10px;
    border-radius: 2.5px;
    border: 1px solid #3B7B1D;
}

form input::placeholder,form textarea::placeholder{
    font-size: 14px;
    color: #3B7B1D;
}

form textarea{
    width: 448;
    height: 92px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 2.5px;
    border: 0.5px solid #3B7B1D;
}

form button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background: transparent;
    border: 0.5px solid #3B7B1D;
    color: #3B7B1D;
    width: 93px;
    height: 30px;
    font-size:12px;
    margin-top: 18px;
    border-radius: 2.5px;
    letter-spacing: 0.8px;
}

form button:hover{
    background-color: #3B7B1D;
    color: #ffffff;
}

form button:hover svg path{
    fill:#ffffff;
}

footer{
    padding: 1px 0;
    background-color: #3B7B1D;
}

footer .footer{
    background-color: #3B7B1D;
}

footer .footer p,footer .footer p a{
    color: #ffffff;
}

footer .footer p a:hover{
    color: #ffffff;
}

@media screen and (max-width: 900px) {
    .container2.contet-contato {
        gap: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 0 10px;
    }
}