@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

.background-projeto{
    background-attachment: fixed;
    background-image: url("../img/index/Imagem\ Tela\ Inicial.jpg");
    background-size: cover;
    height: 100vh;
}

body section .container-small.d-f-col2,section#projetos>h2,footer,.side-menu-wrapper.active ul li a{
    font-family: 'Poppins', sans-serif !important;
    padding-left: 10px;
    padding-right: 10px;
}

.container-small.d-f-col2>h4{
    font-size: 45px;
    color: #3f8120;
}

.container-small{
    max-width: 810px;
    margin: 0 auto;
    padding:  80px 0;
}

.text-center{
    text-align: center;
}

.line{
    background-color: #3f8120;
    height: 10px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.container2{
    max-width: 1300px;
    margin: 0 auto;
}

.oqfazemos{
    font-family: 'Poppins', sans-serif !important;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}


.group-content-oqfazemos{
    display: flex;
    gap: 70px;
}

.box-group-content-oqfazemos{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.box-group-content-oqfazemos .group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box-group-content-oqfazemos .group> h2{
    font-weight: 600;
    line-height: 30px;
    min-height: 60px;
}

.box-group-content-oqfazemos .group> p{
    font-size: 14px;
    line-height: 15px;
}
.d-f-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.d-f-col-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.d-f-col2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.d-grid{
    display: grid;
    grid-template-columns: minmax(20%, 33%) minmax(20%, 33%) minmax(20%, 33%);
    gap: 16px 20px;
}

.d-flex{
    display: flex;
    justify-content: space-evenly;
}

.content-team{
    display: flex;
    justify-content: space-between;
}

.d-none{
    display: none;
}

.hover-img a:hover .d-block{
    display: none;
}

.hover-img a:hover .d-none{
    display: block;
}
.d-none span{
    position: absolute;
    left: 160px;
    bottom: -500px; 
    color: white;
    font-size: 50px;
}

@media screen and (min-width: 900px) {
    .oqfazemos{
        height: 500px;}
}
@media screen and (max-width: 900px) {
    .content-team{
        flex-direction:column;
        gap: 30px;
    }
    .d-grid{
        grid-template-columns: 1fr;
    }

    .d-flex{
        display: flex;
        flex-direction: column;
    }
    .group-content-oqfazemos{
        flex-direction: column;
    }
    .oqfazemos{
        padding: 65px 0;
        }
}